.weather {
  max-width: 1080px;
  width: 90%;
  min-width: 375px;
  
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weatherToday {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.483);
  border-radius: 20px;
  width: 90%;
  margin-bottom: 1.5em;
  height: 15rem;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  gap: 25px;
}

.main-container-2{
  display: flex;
  justify-content: center;

}

.weatherImage img {
  width: 100px;
}

.humidityWind {
  display: flex;
  gap: 10px;
}
.humidityWind img {
  width: 20px;
}

.humi-wind {
  display: flex;
  font-size: small;
  gap: 3px;
}

.humi-wind img {
  width: 15px;
}

.title {
  margin: 2em;
}

.weatherMain {
  margin: 2em;
}
