@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Poppins:wght@100;400;500;600&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300&family=Roboto:wght@100;300;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

body {
  background: linear-gradient(#07beb8, #3dccc7);
  height: 100vh;
}

